In [1]:
!pip list

Package                   Version
------------------------- --------------
anyio                     4.8.0
argon2-cffi               23.1.0
argon2-cffi-bindings      21.2.0
arrow                     1.3.0
asttokens                 3.0.0
async-lru                 2.0.4
attrs                     25.1.0
babel                     2.16.0
beautifulsoup4            4.12.3
bleach                    6.2.0
certifi                   2025.1.31
cffi                      1.17.1
charset-normalizer        3.4.1
colorama                  0.4.6
comm                      0.2.2
contourpy                 1.3.1
cycler                    0.12.1
debugpy                   1.8.12
decorator                 5.1.1
defusedxml                0.7.1
executing                 2.2.0
fastjsonschema            2.21.1
fonttools                 4.55.8
fqdn                      1.5.1
h11                       0.14.0
httpcore                  1.0.7
httpx                     0.28.1
idna                      3.10
importlib_metadata        8.5.0
ipykernel                 6.29.5
ipython                   8.32.0
ipywidgets                8.1.5
isoduration               20.11.0
jedi                      0.19.2
Jinja2                    3.1.5
json5                     0.10.0
jsonpointer               3.0.0
jsonschema                4.23.0
jsonschema-specifications 2024.10.1
jupyter                   1.1.1
jupyter_client            8.6.3
jupyter-console           6.6.3
jupyter_core              5.7.2
jupyter-events            0.11.0
jupyter-lsp               2.2.5
jupyter_server            2.15.0
jupyter_server_terminals  0.5.3
jupyterlab                4.3.5
jupyterlab_pygments       0.3.0
jupyterlab_server         2.27.3
jupyterlab_widgets        3.0.13
kiwisolver                1.4.8
MarkupSafe                3.0.2
matplotlib                3.10.0
matplotlib-inline         0.1.7
microvenv                 2023.5.post1
mistune                   3.1.1
nbclient                  0.10.2
nbconvert                 7.16.6
nbformat                  5.10.4
nest-asyncio              1.6.0
notebook                  7.3.2
notebook_shim             0.2.4
numpy                     2.2.2
overrides                 7.7.0
packaging                 24.2
pandas                    2.2.3
pandocfilters             1.5.1
parso                     0.8.4
pillow                    11.1.0
pip                       25.0
platformdirs              4.3.6
prometheus_client         0.21.1
prompt_toolkit            3.0.50
psutil                    6.1.1
pure_eval                 0.2.3
pycparser                 2.22
Pygments                  2.19.1
pyparsing                 3.2.1
python-dateutil           2.9.0.post0
python-json-logger        3.2.1
pytz                      2025.1
pywin32                   308
pywinpty                  2.0.14
PyYAML                    6.0.2
pyzmq                     26.2.1
referencing               0.36.2
requests                  2.32.3
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.22.3
Send2Trash                1.8.3
setuptools                75.8.0
six                       1.17.0
sniffio                   1.3.1
soupsieve                 2.6
stack-data                0.6.3
terminado                 0.18.1
tinycss2                  1.4.0
tomli                     2.1.0
tornado                   6.4.2
traitlets                 5.14.3
types-python-dateutil     2.9.0.20241206
typing_extensions         4.12.2
tzdata                    2025.1
uri-template              1.3.0
urllib3                   2.3.0
wcwidth                   0.2.13
webcolors                 24.11.1
webencodings              0.5.1
websocket-client          1.8.0
widgetsnbextension        4.0.13
zipp                      3.20.1

WARNING: Ignoring invalid distribution ~ip (C:\Users\Hi\.vscode\.venv\Lib\site-packages)

In [7]:
#import library
import pandas as pd
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [9]:
df.info

<bound method DataFrame.info of Empty DataFrame
Columns: []
Index: []>

In [10]:
city = ['dhaka', 'comilla', 'chandpur']
city

['dhaka', 'comilla', 'chandpur']

In [11]:
df = pd.DataFrame (city)
df

          0
0     dhaka
1   comilla
2  chandpur

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.shape

(3, 1)

In [21]:
df = pd.DataFrame(city, columns=['District'], index=['number 1','number 2','number 3'])
df

          District
number 1     dhaka
number 2   comilla
number 3  chandpur

In [32]:
city2 = ['Khulna','Barishal', 'Rangopur']
df2 = pd.DataFrame(zip(city,city2), columns=['district1','district2'])
df2

  district1 district2
0     dhaka    Khulna
1   comilla  Barishal
2  chandpur  Rangopur

In [33]:
df2.shape

(3, 2)

In [35]:
df2.index[0:1]

RangeIndex(start=0, stop=1, step=1)

In [39]:
df2.index[1]

1

In [43]:
import numpy as np
city3 = np.array([['bagura', 'vhola', 'Rajshahi'],['bagerhat','dinajpur','Satkhira']])
city3

array([['bagura', 'vhola', 'Rajshahi'],
       ['bagerhat', 'dinajpur', 'Satkhira']], dtype='<U8')

In [45]:
df3 = pd.DataFrame(zip(city,city2,city3), columns=['district1','district2','district3'])
df3

  district1 district2                       district3
0     dhaka    Khulna       [bagura, vhola, Rajshahi]
1   comilla  Barishal  [bagerhat, dinajpur, Satkhira]

In [48]:
type(city3)

numpy.ndarray

In [55]:
df = pd.read_csv("Screentime-App-Details-Dataset.csv")
df.head()

         Date  Usage  Notifications  Times opened        App
0  08/26/2022     38             70            49  Instagram
1  08/27/2022     39             43            48  Instagram
2  08/28/2022     64            231            55  Instagram
3  08/29/2022     14             35            23  Instagram
4  08/30/2022      3             19             5  Instagram

In [56]:
df.tail()

          Date  Usage  Notifications  Times opened       App
49  09/17/2022    212            212           120  Whatsapp
50  09/18/2022    244            303           132  Whatsapp
51  09/19/2022     77            169           105  Whatsapp
52  09/20/2022     58            190            78  Whatsapp
53  09/21/2022     89            262            68  Whatsapp

In [57]:
df.shape

(54, 5)

In [58]:
df.head(3)

         Date  Usage  Notifications  Times opened        App
0  08/26/2022     38             70            49  Instagram
1  08/27/2022     39             43            48  Instagram
2  08/28/2022     64            231            55  Instagram

In [59]:
df.Notifications

0      70
1      43
2     231
3      35
4      19
5      25
6      23
7      28
8      15
9      29
10     24
11     34
12     23
13     48
14     68
15     71
16    180
17     99
18     45
19     10
20     15
21     13
22      9
23      8
24      8
25     11
26     12
27    209
28    111
29    183
30    157
31    246
32    169
33     99
34    144
35     80
36     38
37    218
38    205
39    212
40    217
41    405
42    166
43    173
44    290
45    153
46    192
47    181
48    176
49    212
50    303
51    169
52    190
53    262
Name: Notifications, dtype: int64

In [60]:
df[['Times opened']]

    Times opened
0             49
1             48
2             55
3             23
4              5
5             20
6             57
7             22
8             25
9             30
10            51
11            25
12            19
13            43
14            70
15            70
16            95
17           102
18            39
19             2
20             4
21             5
22             3
23             5
24             3
25             5
26             8
27           105
28            68
29            86
30            74
31            87
32            77
33            47
34           103
35            16
36            33
37           121
38           110
39            83
40            82
41           192
42            79
43            92
44           172
45            91
46            67
47            58
48            91
49           120
50           132
51           105
52            78
53            68

In [62]:
df['Date'].head()

0    08/26/2022
1    08/27/2022
2    08/28/2022
3    08/29/2022
4    08/30/2022
Name: Date, dtype: object

In [66]:
df[['App','Date']].head()

         App        Date
0  Instagram  08/26/2022
1  Instagram  08/27/2022
2  Instagram  08/28/2022
3  Instagram  08/29/2022
4  Instagram  08/30/2022

In [67]:
df.sort_values('App', ascending=False)

          Date  Usage  Notifications  Times opened        App
27  08/26/2022     82            209           105   Whatsapp
28  08/27/2022     69            111            68   Whatsapp
30  08/29/2022     59            157            74   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
32  08/31/2022    108            169            77   Whatsapp
33  09/01/2022     23             99            47   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
35  09/03/2022      1             80            16   Whatsapp
36  09/04/2022      6             38            33   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
39  09/07/2022    160            212            83   Whatsapp
40  09/08/2022     69            217            82   Whatsapp
41  09/09/2022    119            405           192   Whatsapp
42  09/10/2022    103            166            79   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
45  09/13/2022     71            153            91   Whatsapp
46  09/14/2022     64            192            67   Whatsapp
47  09/15/2022     50            181            58   Whatsapp
48  09/16/2022     71            176            91   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
51  09/19/2022     77            169           105   Whatsapp
52  09/20/2022     58            190            78   Whatsapp
29  08/28/2022    130            183            86   Whatsapp
53  09/21/2022     89            262            68   Whatsapp
1   08/27/2022     39             43            48  Instagram
13  09/08/2022     71             48            43  Instagram
2   08/28/2022     64            231            55  Instagram
3   08/29/2022     14             35            23  Instagram
4   08/30/2022      3             19             5  Instagram
5   08/31/2022     19             25            20  Instagram
6   09/01/2022     44             23            57  Instagram
7   09/02/2022     16             28            22  Instagram
8   09/03/2022     27             15            25  Instagram
9   09/04/2022     72             29            30  Instagram
10  09/05/2022     42             24            51  Instagram
11  09/06/2022     19             34            25  Instagram
12  09/07/2022     38             23            19  Instagram
14  09/09/2022     43             68            70  Instagram
26  09/21/2022      2             12             8  Instagram
15  09/10/2022     45             71            70  Instagram
16  09/11/2022     94            180            95  Instagram
17  09/12/2022    114             99           102  Instagram
18  09/13/2022     17             45            39  Instagram
19  09/14/2022      1             10             2  Instagram
20  09/15/2022      2             15             4  Instagram
21  09/16/2022      3             13             5  Instagram
22  09/17/2022      2              9             3  Instagram
23  09/18/2022      3              8             5  Instagram
24  09/19/2022      4              8             3  Instagram
25  09/20/2022      5             11             5  Instagram
0   08/26/2022     38             70            49  Instagram

In [68]:
df.sort_values('App', ascending=True)

          Date  Usage  Notifications  Times opened        App
0   08/26/2022     38             70            49  Instagram
25  09/20/2022      5             11             5  Instagram
24  09/19/2022      4              8             3  Instagram
23  09/18/2022      3              8             5  Instagram
22  09/17/2022      2              9             3  Instagram
21  09/16/2022      3             13             5  Instagram
20  09/15/2022      2             15             4  Instagram
19  09/14/2022      1             10             2  Instagram
18  09/13/2022     17             45            39  Instagram
17  09/12/2022    114             99           102  Instagram
16  09/11/2022     94            180            95  Instagram
15  09/10/2022     45             71            70  Instagram
14  09/09/2022     43             68            70  Instagram
26  09/21/2022      2             12             8  Instagram
12  09/07/2022     38             23            19  Instagram
1   08/27/2022     39             43            48  Instagram
2   08/28/2022     64            231            55  Instagram
3   08/29/2022     14             35            23  Instagram
13  09/08/2022     71             48            43  Instagram
5   08/31/2022     19             25            20  Instagram
4   08/30/2022      3             19             5  Instagram
7   09/02/2022     16             28            22  Instagram
8   09/03/2022     27             15            25  Instagram
9   09/04/2022     72             29            30  Instagram
10  09/05/2022     42             24            51  Instagram
11  09/06/2022     19             34            25  Instagram
6   09/01/2022     44             23            57  Instagram
42  09/10/2022    103            166            79   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
45  09/13/2022     71            153            91   Whatsapp
51  09/19/2022     77            169           105   Whatsapp
47  09/15/2022     50            181            58   Whatsapp
48  09/16/2022     71            176            91   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
41  09/09/2022    119            405           192   Whatsapp
46  09/14/2022     64            192            67   Whatsapp
40  09/08/2022     69            217            82   Whatsapp
33  09/01/2022     23             99            47   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
36  09/04/2022      6             38            33   Whatsapp
35  09/03/2022      1             80            16   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
32  08/31/2022    108            169            77   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
30  08/29/2022     59            157            74   Whatsapp
29  08/28/2022    130            183            86   Whatsapp
28  08/27/2022     69            111            68   Whatsapp
27  08/26/2022     82            209           105   Whatsapp
52  09/20/2022     58            190            78   Whatsapp
39  09/07/2022    160            212            83   Whatsapp
53  09/21/2022     89            262            68   Whatsapp

In [70]:
#Statistical Analysis
df.describe()

            Usage  Notifications  Times opened
count   54.000000      54.000000     54.000000
mean    65.037037     117.703704     61.481481
std     58.317272      97.017530     43.836635
min      1.000000       8.000000      2.000000
25%     17.500000      25.750000     23.500000
50%     58.500000      99.000000     62.500000
75%     90.500000     188.250000     90.000000
max    244.000000     405.000000    192.000000

In [76]:
# #Correlation. but in this case not run the program
# df.corr()

In [75]:
# import seaborn as sns
# sns.heatmap(df.corr(), annot=True)

In [78]:
#Subsecting rows
df[df['App'] == 'Whatsapp' ]

          Date  Usage  Notifications  Times opened       App
27  08/26/2022     82            209           105  Whatsapp
28  08/27/2022     69            111            68  Whatsapp
29  08/28/2022    130            183            86  Whatsapp
30  08/29/2022     59            157            74  Whatsapp
31  08/30/2022    128            246            87  Whatsapp
32  08/31/2022    108            169            77  Whatsapp
33  09/01/2022     23             99            47  Whatsapp
34  09/02/2022     76            144           103  Whatsapp
35  09/03/2022      1             80            16  Whatsapp
36  09/04/2022      6             38            33  Whatsapp
37  09/05/2022    126            218           121  Whatsapp
38  09/06/2022     91            205           110  Whatsapp
39  09/07/2022    160            212            83  Whatsapp
40  09/08/2022     69            217            82  Whatsapp
41  09/09/2022    119            405           192  Whatsapp
42  09/10/2022    103            166            79  Whatsapp
43  09/11/2022    203            173            92  Whatsapp
44  09/12/2022    182            290           172  Whatsapp
45  09/13/2022     71            153            91  Whatsapp
46  09/14/2022     64            192            67  Whatsapp
47  09/15/2022     50            181            58  Whatsapp
48  09/16/2022     71            176            91  Whatsapp
49  09/17/2022    212            212           120  Whatsapp
50  09/18/2022    244            303           132  Whatsapp
51  09/19/2022     77            169           105  Whatsapp
52  09/20/2022     58            190            78  Whatsapp
53  09/21/2022     89            262            68  Whatsapp

In [79]:
#Subsecting rows
df['Usage'] > 50

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13     True
14    False
15    False
16     True
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27     True
28     True
29     True
30     True
31     True
32     True
33    False
34     True
35    False
36    False
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47    False
48     True
49     True
50     True
51     True
52     True
53     True
Name: Usage, dtype: bool

In [82]:
#Subsecting rows
df[(df['App'] == 'Whatsapp' )| (df['App'] == 'Instagram')]

          Date  Usage  Notifications  Times opened        App
0   08/26/2022     38             70            49  Instagram
1   08/27/2022     39             43            48  Instagram
2   08/28/2022     64            231            55  Instagram
3   08/29/2022     14             35            23  Instagram
4   08/30/2022      3             19             5  Instagram
5   08/31/2022     19             25            20  Instagram
6   09/01/2022     44             23            57  Instagram
7   09/02/2022     16             28            22  Instagram
8   09/03/2022     27             15            25  Instagram
9   09/04/2022     72             29            30  Instagram
10  09/05/2022     42             24            51  Instagram
11  09/06/2022     19             34            25  Instagram
12  09/07/2022     38             23            19  Instagram
13  09/08/2022     71             48            43  Instagram
14  09/09/2022     43             68            70  Instagram
15  09/10/2022     45             71            70  Instagram
16  09/11/2022     94            180            95  Instagram
17  09/12/2022    114             99           102  Instagram
18  09/13/2022     17             45            39  Instagram
19  09/14/2022      1             10             2  Instagram
20  09/15/2022      2             15             4  Instagram
21  09/16/2022      3             13             5  Instagram
22  09/17/2022      2              9             3  Instagram
23  09/18/2022      3              8             5  Instagram
24  09/19/2022      4              8             3  Instagram
25  09/20/2022      5             11             5  Instagram
26  09/21/2022      2             12             8  Instagram
27  08/26/2022     82            209           105   Whatsapp
28  08/27/2022     69            111            68   Whatsapp
29  08/28/2022    130            183            86   Whatsapp
30  08/29/2022     59            157            74   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
32  08/31/2022    108            169            77   Whatsapp
33  09/01/2022     23             99            47   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
35  09/03/2022      1             80            16   Whatsapp
36  09/04/2022      6             38            33   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
39  09/07/2022    160            212            83   Whatsapp
40  09/08/2022     69            217            82   Whatsapp
41  09/09/2022    119            405           192   Whatsapp
42  09/10/2022    103            166            79   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
45  09/13/2022     71            153            91   Whatsapp
46  09/14/2022     64            192            67   Whatsapp
47  09/15/2022     50            181            58   Whatsapp
48  09/16/2022     71            176            91   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
51  09/19/2022     77            169           105   Whatsapp
52  09/20/2022     58            190            78   Whatsapp
53  09/21/2022     89            262            68   Whatsapp